* {
    margin: 0px;
}
body {
    background-color: #121212;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p {
    color: whitesmoke;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #3d3d3d;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: rgb(121, 121, 121);
    color: whitesmoke;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: whitesmoke;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

#main {
    margin: 2rem 9rem;
}
#page {
    margin: auto;
    background-color: #3d3d3d;
    max-width: 1200px;
    border: 36px solid #3d3d3d;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 0.3fr));
    gap: 1rem;
    align-items: flex-start;
}

.card {
    --padding: 1rem;
    background: #3d3d3d;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
}
.card-img {
    padding: 0;
    margin-bottom: 0.5rem;
    overflow: hidden;
}
.card-img > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}
.card-img:hover > img {
    transform: scale(1.1);
}

.card-header {
    font-size: 1.5rem;
    padding: var(--padding);
    padding-top: 0;
    color: whitesmoke;
}

.card-body {
    font-size: 0.9rem;
    padding: 0 var(--padding);
    color: whitesmoke;
}
.card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
}

.btn {
    background: hsl(200, 50%, 50%);
    color: whitesmoke;
    border: none;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    cursor: pointer;
}
btn:hover,
btn:focus {
    background: hsl(200, 50%, 70%);
}

#links button {
    background-color: #3d3d3d;
    font-size: 1.5em;
    color: whitesmoke;
    border: 10px solid #3d3d3d;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#links button:hover {
    cursor: pointer;
}
